.account-container {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.account-container:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}